body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    nav {
      background-color: #9faf92;
      padding: 20px 40px;
    }

    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }

    nav ul li {
      margin-right: 20px;
    }

    nav ul li a {
      text-decoration: none;
      color: white;
      font-weight: bold;
      transition: color 0.3s ease;
    }

    nav ul li a:hover {
      color: #00bfff;}

     h1 {
  color: white;
  text-align: center;
  margin-top: 50px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center; /* vertically center karega */
  font-size: 100px;
  font-family: "Fredoka One", cursive;

  -webkit-text-fill-color: #9faf92;
  text-transform: uppercase;
  letter-spacing: 5px;
  animation: float 3s ease-in-out infinite;
}

/* 👇 Floating animation */
@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}
      body {
        background-color: #232020;
      }